# Ignore the docs directory as the
# real version exists in the gh-pages
# branch
doc/

# A smorgasbord of ignored things
# grabbed and sorted from various
# .gitignore files at:
#
#   https://github.com/github/gitignore
#
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
*.a
*.ap_
*.apk
*.app
*.class
*.dex
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.mode1v3
*.mode2v3
*.moved-aside
*.o
*.out
*.pbxuser
*.perspectivev3
*.slo
*.so
*.so.*
*.xcworkspace
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.classpath
.idea/
.project
DerivedData
Icon
bin/
build/
gen/
local.properties
profile
xcuserdata
